@import './var.less';

.screenshots {
  position: relative;
  transform: translateZ(0);
  font-family: @font-family;
  &,
  * {
    box-sizing: border-box;
    user-select: none;
  }
  &-magnifier {
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 0 8px 0px #000;
    z-index: 9;

    &-canvas {
      position: relative;
      background-color: #fff;

      canvas {
        display: block;
      }

      &-crosshair {
        &::before {
          content: '';
          background-color: rgb(10, 114, 161);
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 1px;
        }
        &::after {
          content: '';
          background-color: rgb(10, 114, 161);
          position: absolute;
          top: 0;
          left: 50%;
          width: 1px;
          height: 100%;
        }
      }
    }
    &-explain {
      width: 120px;
      height: 40px;
      color: #fff;
      font-size: 11px;
      background-color: rgb(95, 94, 94);
      padding: 5px;
      white-space: nowrap;
      &-rgb {
        margin-bottom: 4px;
      }
    }
  }
}
